<link rel="stylesheet" href="/server/css/admin.css">

<ul class="crumbNav">
    <li><a href="">返回上一页</a></li>
    <li><a href="">首页</a></li>
    {{#each folderPath}}
        <li class='crumbNav'>{{.}}</li>
    {{/each}}
</ul>
<div class="content">
    <ul>
        <li>本次登陆IP：{{clientIP}}</li>
        <li>本次登陆IP：61.48.166.151</li>
        <li>本次登陆IP：61.48.166.151</li>
    </ul>
    <ul>
        <li>站点信息</li>
        <li>站点名称：牛三土后台管理系统{{user.name}}</li>
        <li>公司名称：牛三土网络科技有限公司</li>
        <li>主域名称：admin</li>
        <li>安装目录：{{webPath}}</li>
        <li>网站管理目录:{{adminPath}}</li>
        <li>附件上传目录:{{fileUpPath}}</li>
        <li>服务器名称：{{serverName}}</li>
        <li>服务器IP：{{serverIP}}</li>
        <li>编程语言：nodejs</li>
        <li>node版本：{{nodeVersion}}</li>
        <li>框架版本：Express4</li>
        <li>服务器端口：{{webport}}</li>
        <li>node物理路径：{{nodePath}}</li>
        <li>系统版本：V3.6.1</li>
        <li>数据库目录：/root/wwwroot/www.xtj.wux.js/data</li>
    </ul>
    <div class="adminBottom">
        <ul>
            <li>
                <i></i>
                <span>系统设置</span>
            </li>
            <li>
                <i></i>
                <span>系统设置</span>
            </li>
            <li>
                <i></i>
                <span>系统设置</span>
            </li>
            <li>
                <i></i>
                <span>系统设置</span>
            </li>
            <li>
                <i></i>
                <span>系统设置</span>
            </li>
            <li>
                <i></i>
                <span>系统设置</span>
            </li>
            <li>
                <i></i>
                <span>系统设置</span>
            </li>
            <li>
                <i></i>
                <span>系统设置</span>
            </li>
        </ul>
        <div>
            <label for="">建站三部曲</label>
            <ul>
                <li>1、进入后台管理中心，点击“系统设置”修改网站配置信息；</li>
                <li>2、进入后台管理中心，点击“系统设置”修改网站配置信息；</li>
                <li>3、进入后台管理中心，点击“系统设置”修改网站配置信息；</li>
            </ul>
            <label for="">建站三部曲</label>
            <ul>
                <li>进入后台管理中心，点击“系统设置”修改网站配置信息；</li>
                <li>进入后台管理中心，点击“系统设置”修改网站配置信息；</li>
            </ul>
        </div>
    </div>
<div>
