<link rel="stylesheet" href="/server/css/article-folder.css">
<ul class="crumbNav">
    <li><a href="">返回上一页</a></li>
    <li><a href="">首页</a></li>
    {{#each folderPath}}
        <li class='crumbSubNav'>{{.}}</li>
    {{/each}}
</ul>
<div class="content">
    <!--空白处右键-->
    <div class="rigBtnMenu allrbm">
        <ul>
            {{#each rightMenus1}}
            <li>{{.}}</li>
            <li class="line"></li>
            {{/each}}
        </ul>
    </div>
    <!--文件上右键-->
    <div class="rigBtnMenu filerbm">
        <ul>
            {{#each rightMenus2}}
            <li>{{.}}</li>
            <li class="line"></li>
            {{/each}}
        </ul>
    </div>

    <ul class="showFilePanel">
        {{#each lowFolders}}
            <li class="folder">
                <i>&#xe64b;</i>
                <span>{{.}}</span>
            </li>
        {{/each}}
        {{#each artfiles}}
            <li class="file">
                <i>&#xe79b;</i>
                <span>{{.}}</span>
            </li>
        {{/each}}

        <div class="rename">
            <div>
                <span class="topArrow"/>
                <label>请输入新的名称</label>
                <input type="text" />
                <input type="submit" value="重命名" />
            </div>
        </div>
    </ul>
    <!--分页-->
    <div class="tableFood">
        <span>共计：20条</span>
        <select class="OnePagingNum" 
            defaultopt="{{onepageNum}}">
            <option>10条/页</option>
            <option>15条/页</option>
            <option>20条/页</option>
        </select>
        {{#if pageAry}}
        <ul class="paging">
            <li class="iconfont pagingfirstNum">&#xe616;</li>
            <li class="iconfont pagingprevNum">&#xe619;</li>
            {{#each pageAry}}
            <li class="pagingNum">{{.}}</li>
            {{/each}}
            <li class="iconfont pagingnextNum">&#xe617;</li>
            <li class="iconfont paginglastNum">&#xe618;</li>
            <li class="lastLi">
                跳转至<input type="text">页
            </li>
        </ul>
        {{/if}}
    </div>
</div>

<script src="/server/js/folderShow/rightMenuShow.js"></script>
<script src="/server/js/folderShow/{{cliAction}}.js"></script>
